div{
    float:left; 
    margin: 10px;
}

div:nth-of-type(1n+0) {
    width: 100px;; 
    height: 100px;
    border: 4px solid orange;
    background: #2cd34c;

}
div:nth-of-type(2n+0) {
    width: 100px;; 
    height: 100px;
    border: 4px solid green;
    background: orange;
}

div:nth-of-type(7n+1){   
    clear:left;
 } 